.dot {
    position: absolute;
    color: #f03a17;
    cursor: pointer;
}
.dot .d-icon {
    user-select: none;
    text-shadow: 1px 2px 1px black;
}

.dot .tooltip {
    /* visibility: visible; */
    visibility: hidden;
    width: fit-content;
    background-color: #ddcbb3;
    color: #4f2927;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    border: 2px solid #000;
    padding: 0 5px;
    font-size: 9pt;
    cursor: auto;
    opacity: .95;
    min-width: 15vh;
}
.dot .tooltip:hover {
    z-index: 2;
}

.dot:hover:not(:has(.pin-ctrl:hover)) .tooltip,
.dot.pinned .tooltip { visibility: visible; }

/* TOOLTIP general */
.tooltip .ctrl { float: right; user-select: none; }
.tooltip .ctrl span:hover { opacity: .6; cursor: pointer; }
.tooltip .compact-ctrl {
    display: inline-block;
    position: relative;
    vertical-align: text-top;
    position: relative;
    margin-right: -2px;
    font-size: 7pt;
}
.tooltip .pin-ctrl { visibility: hidden; font-size: 11pt; }
.dot.pinned .tooltip .pin-ctrl { visibility: visible; }

.tooltip p { margin: 2.5px 0; text-wrap: nowrap; white-space: nowrap; }
.tooltip .d-title { font-weight: bold; padding-right: 24px; border-bottom: 1px solid black; }
.tooltip .d-sub { font-style: italic; }
.tooltip .d-content, .tooltip .d-npc { font-weight: 700; }
.tooltip li { list-style-position: inside; font-weight: 400; }
.tooltip li strong { font-weight: 700 }
.tooltip li:nth-child(even) { color: #2d1619 }
.tooltip sup { vertical-align: top; position: relative; top: -0.4em; }

/* COMPACT mode */
.compact .compact-ctrl { transform: scale(1, -1); }
.compact .tooltip { min-width: fit-content; opacity: .9 }
.compact .tooltip p,
.compact .tooltip li { display: none; }
.compact .tooltip .d-title { display: block; border: 0; }

/* MORE CONTENT button */
.tooltip .more-btn { font-family: 'Courier New', Courier, monospace; cursor: pointer; user-select: none; }
.tooltip .more-btn::after { content: '[+]' }
.tooltip .more-btn:hover {opacity: .8; background: rgba(0, 0, 0, .1); border-radius: 3px }
.tooltip .more-content { display: none; }
.tooltip .more .more-content { display: initial }
.tooltip .more .more-btn::after { content: '[-]' }

/* PIN COLORS */
.d-icon.city { filter: hue-rotate(90deg); } /* red -> green */
.d-icon.event { filter: hue-rotate(190deg); } /* red -> blue */
.d-icon.poi { filter: hue-rotate(0deg); } /* red */
